<!DOCTYPE HTML>
<html lang="en">
   <head>
    <meta charset="utf-8">
    <title>Stock Benefit</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
  
    <!-- Favicons -->
    <link href="/login/img/favicon.jpg" rel="icon">
    <link href="/login/img/apple-touch-icon.jpg" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  
    <!-- Bootstrap CSS File -->
    <link href="/login/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Libraries CSS Files -->
    <link href="/login/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/login/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/login/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/login/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/login/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
  
    <!-- Main Stylesheet File -->
    <link href="/login/css/style.css" rel="stylesheet">
   </head>
  <body>
    <header id="header">
      <div class="container-fluid">
  
        <div id="logo" class="pull-left">
          <h1><a href="/" class="scrollto"  style="font-family: 'Abril Fatface';">STOCK BENEFIT</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>
  
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li ><a href="/">Home</a></li>
            <li class="menu-active"><a href="/login">LOGIN</a></li>
            <li><a href="/register">SIGN UP</a></li>
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header>
   <div class="limiter">
		<div class="container-login100" >
    <div class="wrap-login100 p-t-190 p-b-30">
      <form class="login100-form validate-form" action="/login" method="POST">
        <span class="login100-form-title p-t-20 p-b-45">
          Login
        </span>
        <div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">
          <input class="input100" type="text" name="username" placeholder="Username">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-user"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
          <input class="input100" type="password" name="password" placeholder="Password">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock"></i>
          </span>
        </div>

        <div class="container-login100-form-btn p-t-10">
          <button class="login100-form-btn">
            LOGIN
          </button>
        </div>

      </form>
    </div>
    </div>
    </div>
    
</body>
