<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stock Benefit</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/notfound/img/favicon.jpg" rel="icon">
  <link href="/notfound/img/apple-touch-icon.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/notfound/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/notfound/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/notfound/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/notfound/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/notfound/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/notfound/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/notfound/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="/" class="scrollto">Stock Benefit</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container" class="navbar-dark">
        <ul class="nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/search">SEARCH</a></li>
          <% if(!currentUser){ %>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/register">SIGN UP</a></li>
          <% } else { %>
            <li><a href="/watchlist">watchlist</a></li>
            <li><a href="/logout">LOGOUT</a></li>
          <% } %>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <div class="container cont">
    
    <h1>RESULTS NOT FOUND</h1>
    <h4>Search the accurate stock</h4>
      
  </div>
    
  

 
  
  

  <main id="main">

  
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="/notfound/lib/jquery/jquery.min.js"></script>
  <script src="/notfound/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/notfound/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/notfound/lib/easing/easing.min.js"></script>
  <script src="/notfound/lib/superfish/hoverIntent.js"></script>
  <script src="/notfound/lib/superfish/superfish.min.js"></script>
  <script src="/notfound/lib/wow/wow.min.js"></script>
  <script src="/notfound/lib/waypoints/waypoints.min.js"></script>
  <script src="/notfound/lib/counterup/counterup.min.js"></script>
  <script src="/notfound/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/notfound/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/notfound/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/notfound/lib/touchSwipe/jquery.touchSwipe.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/notfound/js/main.js"></script>

</body>
</html>
