<!DOCTYPE HTML>
<html lang="en">
   <head>
    <meta charset="utf-8">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <style>
      body{
      margin:0;
      padding:0;
      }
      
      .search-box{
      position:absolute;
      top:45%;
      left:50%;
      transform:  translate(-50%,-50%);
      background:#2f3640;
      height:50px;
      border-radius:25px;
      padding:7px;
      width:550px;
    }
    .ex-span{
      color: white;
    }
    .ex{
      position:absolute;
      top:54%;
      left:52%;
      transform:  translate(-50%,-50%);
      height:50px;
      border-radius:25px;
      padding:2px;
      width:550px;
      margin: 0px;
      font-family: 'Roboto Mono', monospace;
      color: yellow;
    }
    /* .search-btn:hover{
      background:white;
      } */
      ::placeholder {
        color: white;
        font-family: 'Roboto Mono', monospace;
        font-size: 21px;
      }

      select#type{
      padding-left: 24px;
      padding-bottom: 8px;
      font-family: 'Roboto Mono', monospace;
      }

      input[type="text"]
    {
      font-family: 'Roboto Mono', monospace;
      color: orange;
    }

      select option{
        font-family: 'Roboto Mono', monospace;
      }

      select:active, select:hover {
      outline-color: none;
      }
      button.btn{
        color:#18d26e;
        float:right;
        display:flex;
        align-items:center;
        padding: 6px 0px;
       }

       button.btn svg{
        width: 22px;
        height: 22px;
       }
       button.btn:hover {
        background-color: whitesmoke;
      }



      .search-btn{
      color:#18d26e;
      width:30px;
      height:25px;
      border-radius:50%;
      background:#2f3640;
      display:flex;
      justify-content: center;
      align-items:center;
      float:right;
      }
      .search-btn svg{
        padding-top: 10px;
        padding-bottom: 2px;
        padding-left: 3px;
        padding-right: 5px;
        width: 36px;
        height: 36px;
        fill: #222;
      }
      .svg-inline--fa.fa-w-16{
        width: 25px;
      }
      .search-txt{
      border:none;
      background-color: #2f3640;
      outline:none;
      padding-left: 12px;
      padding-top: 2px;
      padding-bottom: 0px;
      padding-right: 2px;
      height: 35px;
      color:   white;
      font-size:26px;
      float:left;
      transition:0.4s;
      line-height:40px;
      width:65%;
      }
    </style>
    <title>Stock Benefit</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
  
    <!-- Favicons -->
    <link href="/search/img/favicon.jpg" rel="icon">
    <link href="/search/img/apple-touch-icon.jpg" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/search/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Libraries CSS Files -->
    <link href="/search/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/search/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/search/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/search/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/search/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    
    <!-- Main Stylesheet File -->
    <link href="/search/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/search/css/search.css">
   </head>
  <body>
    <header id="header">
      <div class="container-fluid">
  
        <div id="logo" class="pull-left">
          <h1><a href="/" class="scrollto"  style="font-family: 'Abril Fatface';">STOCK BENEFIT</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>
  
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li><a href="/">Home</a></li>
            <li class="menu-active"><a href="/search">SEARCH</a></li>
            <li><a href="/watchlist">WATCHLIST</a></li>
            <% if(!currentUser){ %>
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/register">SIGN UP</a></li>
              <% } else { %>
                <li><a href="/logout">LOGOUT</a></li>
              <% } %>
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header>

    
    <form action="/results" method="GET"> 
      <div class="search-box">
        <input class="search-txt" type="text" name="search" placeholder="What are you looking for?">
          <!-- <a class="search-btn" href="#">
          <i class="fas fa-search"></i>      
          </a> -->
          <button class="btn"><i class="fas fa-search"></i></button>
      </div>
        
      <div class="select">
        <select id="type" name="type">
          <option id="day" value="TIME_SERIES_DAILY">Day</option>
          <option id="week" value="TIME_SERIES_WEEKLY">Week</option>
          <option id="month" value="TIME_SERIES_MONTHLY">Month</option>
        </select>
      </div>
    </form>
    <p class="ex">Search by symbol <span class="ex-span">(GOOG for Google)</span></p>
<main id="main">
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</body>
</html>