body{
  background-image: url("../img/result.gif");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 100%;
   left:62%;
}
table{position: absolute;
  left: 22%;
  top: 25%;
}
h1.myresult{
  position: absolute;
    color: #FFF;
    top: 17%;
  left: 32%;
}  
button{
  position: absolute;
    top:65%;
    left:40%;
}
h2{
    color: #18d26e;
}
table.myresult{
  top:60%;
    left:45%;
}
table.green {
  border: 4px solid #000000;
  background-color: #211083;
  width: 600px;
  height: 280px;
  text-align: center;

  border-collapse: collapse;
}
table.green td, table.green th {
  border: 1px solid #180a68;
  padding: 5px 2px;
  text-align: center;
}
table.green tbody td {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}
table.green tr:nth-child(even) {
  background: #18D26E;
}
table.green thead {
  background: #18D26E;
  border-bottom:  4px solid #000000;
}
table.green thead th {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
table.green thead th:first-child {
  border-left: none;
}
button{
    color: #FFF;
    background-color: #18d26e;
    border-radius:25px;
      padding:7px;
      
}